.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width : 600px) {
  .cards-container {
    text-align: center;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width : 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width : 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}


.card .card-title {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}

.card .card-content {
  width: 100%;
}

.card .price {
  font-weight: 900;
  font-size: 1.2rem;
}

.btn-floating.btn-large i {
  color: white;
}

.card .card-content .card-title i {
color: black
}

.card .card-content .card-title {
  line-height: unset;
}

.checked {
  color: orange;
}

.filter , .sorters {
  background-color: #9f5eb0;
  margin-bottom: 1rem;
}

.filter span {
  margin: 0 1rem;
  color: #fff;
}

.sorters span {
  margin: 0 1rem 2rem 1rem;
  width: 100%;
  color: #000;
}

/*side nav*/
sidenavs {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 1rem;
  margin-right: 4rem;
}

.flex {
  display: flex !important;
}

.sidenavs a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenavs a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenavs {padding-top: 15px;}
  .sidenavs a {font-size: 18px;}
}


.slider-container {
  background-color: #9f5eb0;
  padding: 1rem 11rem 0 5rem;
  height: 5rem;
}


.filters-container {
}

.sorters-container {
  margin-top: 2rem ;

}

.filters-sorters {
}

select {
  width: 100%;
  margin-top: 1rem;
}

.card .card-image {
  border-right: 1px solid #bdbdbd99;

}

.btn-floating {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.card .card-image img {
  height: 18rem;
  width: 18rem;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 3rem;
}



.card .card-information {
  height: 18rem;
  display: flex;
}

@media (max-width: 767px) {
  .card .card-information {
    height: 18rem;
    display: inline-table;
  }
}
.card {
  margin-bottom: 1rem;
}


/*! CSS Used from: https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?701317015908805120 */
*,*:before,*:after{box-sizing:inherit;}
i{line-height:inherit;}
.c{margin-left:auto;margin-right:auto;margin-bottom:20px;}
.c:after{content:"";display:table;clear:both;}
.c .d{float:left;box-sizing:border-box;padding:0 .75rem;min-height:1px;}
.c .d.iv{width:100%;margin-left:auto;left:auto;right:auto;}
@media only screen and (min-width: 601px){
  .c .d.jo{width:50%;margin-left:auto;left:auto;right:auto;}
  .c .d.jc{width:83.3333333333%;margin-left:auto;left:auto;right:auto;}
  .c .d.offset-m1{margin-left:8.3333333333%;}
}
@media only screen and (min-width: 993px){
  .c .d.kk{width:33.3333333333%;margin-left:auto;left:auto;right:auto;}
}
h2,h4{font-weight:400;line-height:1.1;}
h2{font-size:3.56rem;line-height:110%;margin:1.78rem 0 1.424rem 0;}
h4{font-size:2.28rem;line-height:110%;margin:1.14rem 0 .912rem 0;}
::-webkit-input-placeholder{color:#d1d1d1;}
:-moz-placeholder{color:#d1d1d1;}
::-moz-placeholder{color:#d1d1d1;}
:-ms-input-placeholder{color:#d1d1d1;}
[class^="icon-"]{font-family:'simple-line-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-light-bulb:before{content:"\e076";}
.icon-settings:before{content:"\e06c";}
.icon-rocket:before{content:"\e05c";}
.icon-umbrella:before{content:"\e053";}
.icon-compass:before{content:"\e045";}
.icon-bolt:before{content:"\e020";}
i{color:#1de9c3;}
.c.ci{width:100%;}
h2,h4{font-weight:200;}
p{font-weight:300;font-size:1rem;line-height:1.8rem;color:rgba(255,255,255,0.8);}
p.ek{color:inherit;}
.v .section-title{margin-bottom:30px;}
.v .ek{font-size:1.4rem;font-weight:200;}
.v .d{min-height:1px;}
/*! CSS Used fontfaces */
@font-face{font-family:'simple-line-icons';src:url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/simple-line-icons.eot?2k1x4j");src:url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/simple-line-icons.eot?2k1x4j#iefix") format("embedded-opentype"),url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/simple-line-icons.ttf?2k1x4j") format("truetype"),url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/simple-line-icons.woff?2k1x4j") format("woff"),url("https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/simple-line-icons.svg?2k1x4j#simple-line-icons") format("svg");font-weight:normal;font-style:normal;}


.shipment{
  color: black;
  background: #1de9c3;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  margin-top: 1rem !important;
}


/*! CSS Used from: https://www.ebates.com/dist/static/rev/scss/ebates-rebrand-5d4438adba.css */
.prox-r a{font-family:'Benton Sans Reg', Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;}
.cb,.prox-r .prox-b,.cb.prox-b,.prox-b{font-family:'Benton Sans Med', Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;}
*{margin:0;padding:0;}
body *{font-size:100%;}
.blk-group,.blk,.blk-group:after,.blk:after,.blk-group:before,.blk:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.blk-group:before,.blk-group:after{display:table;content:"";line-height:0;}
.blk-group:after{clear:both;}
.blk-group{list-style-type:none;padding:0;margin:0;}
.blk-group>.blk-group{clear:none;float:left;margin:0!important;}
.blk{float:left;width:100%;}
.blk-group{width:100%;}
.blk-group [class*=" cols-"] .col{margin-right:1.02564%;}
.blk-group .cols-6 .col{width:15.81197%;}
.blk-group .cols-6 .col:nth-child(6n+0){margin-right:0;}
.pos-rel{position:relative;}
.center{text-align:center;}
.b-box{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.bblk{display:block;}
.hide{display:none;}
.col{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.pad-10{padding:10px;}
.pad-30-b{padding-bottom:30px;}
.pad-20-lr{padding-right:20px;padding-left:20px;}
.pad-20-t{padding-top:20px;}
.mar-5-t{margin-top:5px;}
.mar-10-b{margin-bottom:10px;}
.mar-5-tb{margin-top:5px;margin-bottom:5px;}
.blk-reg{background-color:#fff;}
a,a.nohover:hover,.nohover:hover{text-decoration:none;}
a:hover{text-decoration:underline;}
a{color:#1791d3;}
a:hover{color:#3abf59;}
.f-gry-dk-8{color:#888;}
.cb,span.cb{color:#ed5050;}
.new-ui a{color:#1791d3;}
.new-ui .cb,.new-ui span.cb{color:#ed5050;}
.dwview .cb,.new-ui .button{font-size:16px;}
.f-10{font-size:10px;}
.f-12{font-size:12px;}
.lh-12{line-height:12px;}
.lh-14{line-height:14px;}
.dwview .cb{line-height:20px;}
ul{list-style-type:none;list-style-position:inside;}
.ht-12{height:12px;}
.ht-27{height:27px;}
.ht-28{height:28px;}
.ht-156{height:156px;}
.w-106,.button.reg.w-106{width:106px;}
img{border:none;}
.button{min-width:106px;border:none;cursor:pointer;text-align:center;display:inline-block;font-size:16px;color:#fff;height:30px;line-height:30px;outline:none;padding:0 12px;text-decoration:none;transition:.2s;-webkit-transition:.2s;-moz-transition:.2s;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;transition:background 0.2s, color 0.2s, border 0.2s;transition-timing-function:ease-in-out;}
.button:hover{text-decoration:none;}
.button.ext{background-color:#ed5050;}
.button.ext:hover{background-color:#f55;color:#fff;}
.button.reg.w-106{padding:0;}
.new-ui .button{border-radius:23px;height:46px;line-height:46px;padding:0 25px;}
.new-ui .button.ext{color:#252525;border:1px solid #252525;background-color:#fff;}
.new-ui .button.ext:hover{color:#fff;background-color:#252525;}
.new-ui .button{border:none;cursor:pointer;text-align:center;display:inline-block;font-size:16px;color:#fff;height:30px;line-height:30px;outline:none;padding:0 12px;text-decoration:none;transition:.2s;-webkit-transition:.2s;-moz-transition:.2s;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:16px;min-width:107px;border-radius:23px;height:46px;line-height:46px;padding:0 25px;transition:background 0.2s, color 0.2s, border 0.2s;transition-timing-function:ease-in-out;}
.new-ui .button:hover{text-decoration:none;}
.bg-hover{transition:box-shadow 0.2s;transition-timing-function:ease-in-out;}
.bg-hover:hover{box-shadow:0 8px 14px -6px rgba(153,153,153,0.65);-webkit-box-shadow:0 8px 14px -6px rgba(153,153,153,0.65);-moz-box-shadow:0 8px 14px -6px rgba(153,153,153,0.65);}
.border{border:1px solid #ddd;}
.hide{display:none;}
.new-ui a.nohover:hover{text-decoration:none;}
/*! CSS Used fontfaces */
@font-face{font-family:"Benton Sans Reg";font-weight:Normal;font-style:Normal;src:url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-regular.eot");src:url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-regular.eot?iefix") format("embedded-opentype"),url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-regular.woff2") format("woff2"),url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-regular.woff") format("woff");}
@font-face{font-family:"Benton Sans Med";font-weight:Normal;font-style:Normal;src:url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-medium.eot");src:url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-medium.eot?iefix") format("embedded-opentype"),url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-medium.woff2") format("woff2"),url("https://www.ebates.com/global_files/fonts/BentonSans_RAK_Web/benton_sans_rak-medium.woff") format("woff");}
