<div class="c ci" *ngIf="!resultList">
  <div class="d iv jc offset-m1">
    <div class="c">
      <div class="d iv"><h2 class="section-title">Features</h2></div>
      <div class="d iv jo kk">
        <h4><i class="icon-light-bulb"></i></h4>
        <p class="ek">At Shipzo!, we help you Compare Prices and shop online from hundreds of thousands of different products. </p>
      </div>
      <div class="d iv jo kk">
        <h4><i class="icon-bolt"></i></h4>
        <p class="ek">We give you access to everything you need and want. Our range is unparalleled!</p>
      </div>
      <div class="d iv jo kk">
        <h4><i class="icon-rocket"></i></h4>
        <p class="ek">We are here to help you save money and stay informed about the price and availability of stuff. </p>
      </div>
      <div class="d iv jo kk">
        <h4><i class="icon-settings"></i></h4>
        <p class="ek">Shipzo is a machine built for catching up-to-date prices, deals and product information from trustworthy online stores that sell original and high quality products</p>
      </div>
      <div class="d iv jo kk">
        <h4><i class="icon-umbrella"></i></h4>
        <p class="ek">We do so to provide the best shopping experience for our users.</p>
      </div>
      <div class="d iv jo kk">
        <h4><i class="icon-compass"></i></h4>
        <p class="ek">If you are an online store and wish to be included on Shipzo!, please drop us a line at contact@shipzo.co</p>
      </div>
    </div>
  </div>
</div>

<ul class="hp-promo-row blk-group cols-6" *ngIf="!resultList">

  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from lululemon plus 4.0% discount from Ebates!"
       data-shopping-url="/lululemon.com_13779-xfas" href="/lululemon.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="lululemon" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="lululemon">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/img/merchant_logo/13779/lululemon_icon_100x27c.gif"
                 alt="lululemon" title="Get a great deal from lululemon plus 4.0% discount from Ebates!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 2.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					Up to 4.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All lululemon Coupons
                </span>
                    </span>
    </a><a href="/lululemon.com_13779-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from lululemon plus 4.0% discount from Ebates!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Sephora plus 8.0% discount from Ebates!" data-shopping-url="/sephora.com_4548-xfas"
       href="/sephora.com" data-navigation-id="22770" class="bblk nohover" data-click-category="Homepage"
       data-click-action="Click featured promotion store card" data-click-label="Sephora"
       data-event-signature="ec,ea,el" data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click"
       data-el="Sephora">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/4548/icon-100x27.gif" alt="Sephora"
                 title="Get a great deal from Sephora plus 8.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 4.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					8.0% discount
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Sephora Coupons
                </span>
                    </span>
    </a><a href="/sephora.com_4548-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Sephora plus 8.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Hotwire plus Up to 8.0% discount from Shipzo!"
       data-shopping-url="/hotwire.com_2609-xfas" href="/hotwire.com" data-navigation-id="22770" class="bblk nohover"
       data-click-category="Homepage" data-click-action="Click featured promotion store card" data-click-label="Hotwire"
       data-event-signature="ec,ea,el" data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click"
       data-el="Hotwire">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/2609/icon-100x27.gif" alt="Hotwire"
                 title="Get a great deal from Hotwire plus Up to 8.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was up to 4.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                                       					Up to 8.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Hotwire Coupons
                </span>
                    </span>
    </a><a href="/hotwire.com_2609-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Hotwire plus Up to 8.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from CheapTickets plus Up to 10.0% discount from Shipzo!"
       data-shopping-url="/cheaptickets.com_8086-xfas" href="/cheaptickets.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="CheapTickets" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="CheapTickets">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/8086/icon-100x27.gif"
                 alt="CheapTickets" title="Get a great deal from CheapTickets plus Up to 10.0% discount from Ebates!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 1.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                                       					Up to 10.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All CheapTickets Coupons
                </span>
                    </span>
    </a><a href="/cheaptickets.com_8086-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from CheapTickets plus Up to 10.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Travelocity plus Up to 10.0% discount from Shipzo!"
       data-shopping-url="/travelocity.com_4528-xfas" href="/travelocity.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="Travelocity" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="Travelocity">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/4528/icon-100x27.gif"
                 alt="Travelocity" title="Get a great deal from Travelocity plus Up to 10.0% discount from Shipzo!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 1.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                                       					Up to 10.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Travelocity Coupons
                </span>
                    </span>
    </a><a href="/travelocity.com_4528-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Travelocity plus Up to 10.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Hertz plus 5.0% discount from Shipzo!" data-shopping-url="/hertz.com_11627-xfas"
       href="/hertz.com" data-navigation-id="22770" class="bblk nohover" data-click-category="Homepage"
       data-click-action="Click featured promotion store card" data-click-label="Hertz" data-event-signature="ec,ea,el"
       data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click" data-el="Hertz">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/img/store/11627/hertz_icon_100x27a.gif" alt="Hertz"
                 title="Get a great deal from Hertz plus 5.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 2.5%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					5.0% discount
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Hertz Coupons
                </span>
                    </span>
    </a><a href="/hertz.com_11627-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Hertz plus 5.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Holiday Inn Express plus 8.0% discount from Shipzo!"
       data-shopping-url="/holidayinnexpress.com_9587-xfas" href="/holidayinnexpress.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="Holiday Inn Express" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="Holiday Inn Express">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/img/merchant_logo/9587/hie_icon_100x27.gif"
                 alt="Holiday Inn Express"
                 title="Get a great deal from Holiday Inn Express plus 8.0% discount from Shipzo!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 4.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					8.0% discount
				            </span>
                                                                                            <span
                                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Coupons
                </span>
                    </span>
    </a><a href="/holidayinnexpress.com_9587-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Holiday Inn Express plus 8.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Dick's Sporting Goods plus 6.0% discount from Ebates!"
       data-shopping-url="/dickssportinggoods.com_4227-xfas" href="/dickssportinggoods.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="Dick's Sporting Goods" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="Dick's Sporting Goods">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/4227/icon-100x27.gif"
                 alt="Dick's Sporting Goods"
                 title="Get a great deal from Dick's Sporting Goods plus 6.0% discount from Shipzo!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 1.5%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					6.0% discount
				            </span>
                                                                                            <span
                                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Coupons
                </span>
                    </span>
    </a><a href="/dickssportinggoods.com_4227-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Dick's Sporting Goods plus 6.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Amazon plus Up to 10.0% discount from Shipzo!" data-shopping-url="/amazon_1-xfas"
       href="/amazon.htm" data-navigation-id="22770" class="bblk nohover" data-click-category="Homepage"
       data-click-action="Click featured promotion store card" data-click-label="Amazon" data-event-signature="ec,ea,el"
       data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click" data-el="Amazon">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/1/icon-100x27.gif" alt="Amazon"
                 title="Get a great deal from Amazon plus Up to 10.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                            was 0.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                                       					Up to 10.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Amazon Categories
                </span>
                    </span>
    </a><a href="/amazon_1-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Amazon plus Up to 10.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from eBags plus 10.0% discount from Shipzo!" data-shopping-url="/ebags.com_82-xfas"
       href="/ebags.com" data-navigation-id="22770" class="bblk nohover" data-click-category="Homepage"
       data-click-action="Click featured promotion store card" data-click-label="eBags" data-event-signature="ec,ea,el"
       data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click" data-el="eBags">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/82/icon-100x27.gif" alt="eBags"
                 title="Get a great deal from eBags plus 10.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 5.0%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                       					10.0% discount
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All eBags Coupons
                </span>
                    </span>
    </a><a href="/ebags.com_82-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from eBags plus 10.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Verizon Fios plus Up to $45.00 discount from Shipzo!"
       data-shopping-url="/verizon-fios.com_12607-xfas" href="/verizon-fios.com" data-navigation-id="22770"
       class="bblk nohover" data-click-category="Homepage" data-click-action="Click featured promotion store card"
       data-click-label="Verizon Fios" data-event-signature="ec,ea,el" data-ec="Desktop Home Page"
       data-ea="Primary Promo Store Card - Click" data-el="Verizon Fios">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/img/merchant_logo/12607/fios_icon_100x27.gif"
                 alt="Verizon Fios" title="Get a great deal from Verizon Fios plus Up to $45.00 discount from Shipzo!"
                 style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was up to $22.50

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">

                                                                                           					$45 discount
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Verizon Fios Coupons
                </span>
                    </span>
    </a><a href="/verizon-fios.com_12607-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Verizon Fios plus Up to $45.00 discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


  <li class="promo-block blk col b-box blk-reg mar-10-b ht-156 center bg-hover border">
    <a title="Get a great deal from Expedia plus Up to 6.0% discount from Shipzo!"
       data-shopping-url="/expedia.com_3930-xfas" href="/expedia.com" data-navigation-id="22770" class="bblk nohover"
       data-click-category="Homepage" data-click-action="Click featured promotion store card" data-click-label="Expedia"
       data-event-signature="ec,ea,el" data-ec="Desktop Home Page" data-ea="Primary Promo Store Card - Click"
       data-el="Expedia">
        <span class="blk pos-rel pad-10 pad-20-lr">
            <span class="img-wrap bblk pad-20-t mar-10-b ht-27">
            <img class="lazy logo" src="https://static.ebates.com/image/store/icon/3930/icon-100x27.gif" alt="Expedia"
                 title="Get a great deal from Expedia plus Up to 6.0% discount from Shipzo!" style="display: inline;">
            </span>

            <span class="was_rebate blk f-12 lh-12 ht-12 f-gry-dk-8">


                                                                        was 1.5%

                                        </span>


                                                <span class="now_rebate blk prox-b cb mar-5-tb">
                                                                       					Up to 6.0%
				            </span>
                                                                            <span
                                                                              class="see_store blk f-10 f-gry-dk-8 lh-14 ht-28 mar-5-t">
                    See All Expedia Coupons
                </span>
                    </span>
    </a><a href="/expedia.com_3930-xfas?sourceName=Web-Desktop" data-navigation-id="22770" target="_blank"
           title="Get a great deal from Expedia plus Up to 6.0% discount from Shipzo!"
           class="nohover pad-30-b pad-20-lr hide shopnow">
    <span href="#" class="button reg ext w-106">Shop Now</span>
  </a>

  </li>


</ul>


<div class="filters-sorters">
  <div class="filters-container" *ngIf="resultList">
    <span class="new badge" data-badge-caption="Filter">&nbsp;</span>

    <nav class="filter" xmlns="">
      <div action="#" style="display: flex;">
        <span>
          <ng-multiselect-dropdown
            [placeholder]="'Marketplace'"
            [data]="marketplaceDropdownList"
            [(ngModel)]="marketplaceSelectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onMarketplaceSelect($event)"
            (onDeSelect)="onMarketplaceDeSelect($event)"
          >
          </ng-multiselect-dropdown>
        </span>

        <span>
          <ng-multiselect-dropdown
            [placeholder]="'Rating'"
            [data]="starRatingDropdownList"
            [(ngModel)]="starRatingSelectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onRatingItemSelect($event)"
            (onDeSelect)="onRatingItemDeSelect($event)"
          >
          </ng-multiselect-dropdown>
        </span>

        <span>
          <ng-multiselect-dropdown
            [placeholder]="'Shipment'"
            [data]="shipmentDropdownList"
            [(ngModel)]="shipmentSelectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onShipmentSelect($event)"
            (onDeSelect)="onShipmentDeSelect($event)"
          >
          </ng-multiselect-dropdown>
        </span>

      </div>
    </nav>

    <!--<nav class="filter" xmlns="">-->
      <!--<div action="#" style="display: flex;">-->
    <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="walmartFilter($event)"/>-->
        <!--<span>Walmart</span>-->
      <!--</label>-->
    <!--</span>-->
        <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="ebayFilter($event)"/>-->
        <!--<span>Ebay</span>-->
      <!--</label>-->
    <!--</span>-->
      <!--</div>-->
    <!--</nav>-->

    <!--<span class="new badge" data-badge-caption="Shipment Filter">2</span>-->
    <!--<nav class="filter">-->
      <!--<div action="#" style="display: flex;" *ngIf="destinations">-->
    <!--<span *ngFor="let destination of destinations">-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="destinationFilter(destination, $event)"/>-->
        <!--<span>{{destination}}</span>-->
      <!--</label>-->
    <!--</span>-->
      <!--</div>-->
    <!--</nav>-->

    <!--<span class="new badge" data-badge-caption="Rating Filter">3</span>-->
    <!--<nav class="filter">-->
      <!--<div action="#" style="display: flex;">-->
    <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="oneStarFilter($event)"/>-->
        <!--<span>one star</span>-->
      <!--</label>-->
    <!--</span>-->
        <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="twoStarsFilter($event)"/>-->
        <!--<span>two stars</span>-->
      <!--</label>-->
    <!--</span>-->
        <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="threeStarsFilter($event)"/>-->
        <!--<span>three stars</span>-->
      <!--</label>-->
    <!--</span>-->
        <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="fourStarsFilter($event)"/>-->
        <!--<span>four stars</span>-->
      <!--</label>-->
    <!--</span>-->
        <!--<span>-->
      <!--<label>-->
        <!--<input type="checkbox" (change)="fiveStarsFilter($event)"/>-->
        <!--<span>five star</span>-->
      <!--</label>-->
    <!--</span>-->
      <!--</div>-->
    <!--</nav>-->

    <span class="new badge" data-badge-caption="Price Range">&nbsp;</span>
    <nav class="slider-container">


  <span class="slider-span">
  <ion-range-slider *ngIf="maxPrice" #sliderElement
                    type="double"
                    [min]="0"
                    max="{{maxPrice}}"
                    from="0"
                    from_min="0"
                    from_max="{{maxPrice-10}}"
                    from_shadow="false"
                    to="{{maxPrice}}"
                    to_min="10"
                    to_max="{{maxPrice}}"
                    to_shadow="false"
                    grid="false"
                    grid_num="10"
                    prefix="Price: "
                    postfix=" USD"
                    decorate_both="false"
                    (onUpdate)="priceRangeOnUpdate($event)"
                    (onChange)="priceRangeOnChange($event)"
                    (onFinish)="priceRangeOnFinish($event)"></ion-range-slider>
</span>


    </nav>
  </div>

  <div class="sorters-container" *ngIf="resultList">

    <span class="new badge" data-badge-caption="Sort Result">&nbsp;</span>

    <nav class="sorters" xmlns="">
      <div action="#" style="display: flex;">
        <span>
          <select class="browser-default" [(ngModel)]="selectedSort" (ngModelChange)="sortResults($event)">
             <option *ngFor="let item of sorters" [value]="item.value">{{item.title}}</option>
        </select>
        </span>
      </div>
    </nav>
  </div>
</div>
<!--<div class="flex">-->
<!--<div class="sidenavs">-->
<!--<div>-->
<!--<label>-->
<!--<input type="checkbox" (change)="walmartFilter($event)"/>-->
<!--<span>Walmart</span>-->
<!--</label>-->
<!--</div>-->
<!--<div>-->
<!--<label>-->
<!--<input type="checkbox" (change)="ebayFilter($event)"/>-->
<!--<span>Ebay</span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->


<!--<div class="row">-->
<!--<div class="col s12 cards-container">-->
<div *ngFor="let item of resultList">
  <div class="card">
    <div class="card-information">
      <div class="card-image">
        <img class="activator" src="{{item.imageUrlList[0]}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{item.itemName}}<i class="material-icons right">more_vert</i></span>
        <p><a class="price" target="_blank" href="{{item.redirectUrl}}"> {{item.itemPrice}}{{item.currency}}</a></p>
        <p><span class="fa fa-star" [class.checked]="item.rating>=1"></span>
          <span class="fa fa-star" [class.checked]="item.rating>=2"></span>
          <span class="fa fa-star" [class.checked]="item.rating>=3"></span>
          <span class="fa fa-star" [class.checked]="item.rating>=4"></span>
          <span class="fa fa-star" [class.checked]="item.rating>=5"></span></p>
        <p><img src="/assets/img/wallmart.png" *ngIf="item.vendor == 'WALMART'"></p>
        <p><img src="/assets/img/ebay.png" *ngIf="item.vendor == 'EBAY'"></p>
        <p class="shipment">Shipment: {{item.shipToDestinations}}</p>
      </div>

    </div>

    <div class="card-reveal">
      <div>
              <span class="card-title grey-text text-darken-4" style="font-size: 0.8rem">{{item.itemName}}<i
                class="material-icons right">close</i></span>
      </div>
      <ul class="collection" style="font-size: 0.8rem">
        <li *ngIf="item.vendor" class="collection-item">Provider: {{item.vendor}}</li>
        <li *ngIf="item.location" class="collection-item">Location: {{item.location}}</li>
        <li *ngIf="item.vendorCategory" class="collection-item">Category: {{item.vendorCategory}}</li>
        <li *ngIf="item.vendorSubCategory" class="collection-item">Section: {{item.vendorSubCategory}}</li>
        <li *ngIf="item.upc" class="collection-item">UPC: {{item.upc}}</li>
      </ul>
    </div>

    <a class="btn-floating btn-large waves-effect waves-light red" target="_blank" href="{{item.redirectUrl}}"><i
      class="material-icons">call_made</i></a>


  </div>


</div>
<!--</div>-->
<!--</div>-->

<!--</div>-->

<ul class="pagination" *ngIf="resultList">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#">2</a></li>
  <li class="waves-effect"><a href="#">3</a></li>
  <li class="waves-effect"><a href="#">4</a></li>
  <li class="waves-effect"><a href="#">5</a></li>
  <li class="waves-effect"><a href="#">6</a></li>
  <li class="waves-effect"><a href="#">7</a></li>
  <li class="waves-effect"><a href="#">8</a></li>
  <li class="waves-effect"><a href="#">9</a></li>
  <li class="waves-effect"><a href="#">10</a></li>
  <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
</ul>
