
<nav class="filter">

  <div action="#" style="display: flex;">
    <span>
      <label>
        <input type="checkbox" (change)="walmartFilter($event)"/>
        <span>Walmart</span>
      </label>
    </span>
    <span>
      <label>
        <input type="checkbox" (change)="ebayFilter($event)"/>
        <span>Ebay</span>
      </label>
    </span>
  </div>
</nav>


<div class="row">
  <div class="col s12 cards-container">
    <div *ngFor="let item of resultList">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{item.imageUrlList[0]}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{item.itemName}}<i class="material-icons right">more_vert</i></span>
          <p><a target="_blank" href="{{item.redirectUrl}}"> {{item.itemPrice}}{{item.currency}} Buy Now</a></p>
          <p><span class="fa fa-star" [class.checked]="item.rating>=1"></span>
            <span class="fa fa-star" [class.checked]="item.rating>=2"></span>
            <span class="fa fa-star" [class.checked]="item.rating>=3"></span>
            <span class="fa fa-star" [class.checked]="item.rating>=4"></span>
            <span class="fa fa-star" [class.checked]="item.rating>=5"></span></p>
          <p><img src="/assets/img/wallmart.png" *ngIf="item.vendor == 'WALMART'"></p>
          <p><img src="/assets/img/ebay.png" *ngIf="item.vendor == 'EBAY'"></p>
        </div>
        <div class="card-reveal">
          <div>
            <span class="card-title grey-text text-darken-4" style="font-size: 0.8rem">{{item.itemName}}<i
              class="material-icons right">close</i></span>
          </div>
          <ul class="collection" style="font-size: 0.8rem">
            <li class="collection-item">Provider: {{item.vendor}}</li>
            <li class="collection-item">Location: {{item.location}}</li>
            <li class="collection-item">Category: {{item.vendorCategory}}</li>
            <li class="collection-item">Section: {{item.vendorSubCategory}}</li>
            <li class="collection-item">UPC: {{item.upc}}</li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>
