/* AppComponent's private CSS styles */
/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  /* make sure the body does not have a margin */
  margin: 0 !important;
  /* this forces the body tag to fill the height of the window */
  height: 100% !important;
}

main {
  flex: 1 0 auto !important;
}


h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.logo {
  padding: 2rem;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #9f5eb0;
}
